h1{
    /* font-style: italic;*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:14;
    color:mediumseagreen
}
input{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 30px;
    display: block;
}
body{
    max-width:max-content;
    align-items: center;
    position: absolute;
    padding-left: 35%;
    padding-top: 5%;
    background-image:url(images/bg_secondary.png) ;
    background-size:cover;
    background-repeat:no-repeat;
    margin-left: 80px;
    margin-top: 90px;
    color:darkred;
    font-weight: 600;

}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
label{
    display:flex;
    align-items: center;
}
#cancel{
    cursor: pointer;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border:0em;
    background-color: lightpink;
}
#sub{
    cursor: pointer;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border:0em;
    background-color:darkseagreen;
}
#logo{
    width:100px;
    height:75px;
}

#container{
    text-align: center;
    
}
