h1{
    /* font-style: italic;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:14;
    color: brown;
}
input{
    font-family: cursive;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 30px;
    display: block;
}
body{
    align-items: center;
    position: absolute;
    padding-left: 35%;
    padding-top: 5%;
}
label{
font-family: cursive;
}
#cancel{
    cursor: pointer;
    background-color:rgb(26, 200, 26);
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
}
#sub{
    cursor: pointer;
    background-color: rgb(239, 38, 38);
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
}