body {
  max-width: max-content;
  align-items: center;
  position: absolute;
  background-image: url(images/bg_secondary.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 600px;
  margin-top: 100px;
  color:darkred;
  font-weight: 600;
}

.pure-form{
  display:grid;;
}
h1{
  /* font-style: italic;*/
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:14;
  color:mediumseagreen
}

#logo{
  width:100px;
  height:75px;
}

input[type="text"],
input[type="password"] {
  width:100px;
  height:10px;
  padding: 15px;
  margin-left:5px;
  margin-top: 10px;
  display: inline-block;
  border:2px gray solid;
  border-radius: 7px;
  /* background: #f1f1f1; */
}

label{
  margin-right:20px;
  margin-bottom: 20px;
}



  
/* input{
        font-family: cursive;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        height: 30px;
        display: block;
    } */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  cursor: pointer;
  font-weight:600;
  font-family:'Times New Roman', Times, serif;
  border-radius: 5px;
  border:0em;
  background-color:lightseagreen;
  width:70px;
  height:30px;
  /* opacity: 0.9; */
}

.cancelbtn {
  cursor: pointer;
  font-weight:600;
  font-family:'Times New Roman', Times, serif;
  border-radius: 5px;
  border:0em;
  background-color: lightpink;
}
.cancelbtn,
.signupbtn {
  float:inline-end;
  align-items:center;
  position:relative;
  margin:5px;
}

.right{
  margin-left:15px;
  margin-right: 5px;;
}


/* .clearfix::after {
      content: "";
      clear: both;
      display: table;
    } */

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
         width: 100%;
      } */
