body {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
align-items: center;
position: relative;
padding-left: 25%;
/* padding-top: 10%; */
}
input[type=text], input[type=password] {
  display:flex;
  flex-direction:column;
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  /* background: #f1f1f1; */
}
/* input{
    font-family: cursive;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 30px;
    display: block;
} */
input[type=text]:focus, input[type=password]:focus {
  display:flex;
  flex-direction:column;
  background-color: #ddd;
  outline: none;
}
button {
  background-color: #12bb2b;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  /* opacity: 0.9; */
}


.cancelbtn {
  padding: 14px 14px;
  background-color: #d7453a;
}
.cancelbtn, .signupbtn {
  /* float: left; */
  align-items: center;
  position: relative;
  left: 50px;
  width: 15%;
}

.container {
  padding: 16px;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  } */
